body{
	background-color: #333;
	height: 100vh;
	color: grey;
}
.container{
	position: relative;
	top: 5%;
	padding: 45px;
	display: flex;
	justify-content: space-around;
}
.box{
	width: 25%;
	padding: 0px;
	box-shadow: 2px;
}
.profile{
	background-color: grey;
	height: 5cm;
	color: white;
	transition-duration: 0.5s;
	transform: translateY(180px);
}
.profile:hover{
	background-color: red;
	transform: translateY(10px);
}
.box .profile img{
	width: 100px;
	height: 100px;
}
.profile img{
	transform: translate(50%,50%);
}
.info{
	background-color: #fff;
	font-family: monospace;
	font-size: 15px;
	padding: 20px;
}
h2, p{
	position: relative;
	margin-left: 150px;
	top: -45px;
}